<div class="page">
  <div class="body">
    <div class = "hero-unit">
      <div class="logo_image">
      <%= image_tag("omry_logo.png", :id => "logo") %>
      </div>
      <div class="featured">
        <h2>עמרי עטר</h1>
        <h3>מורה למתמטיקה לכל הגילאים</h3>
        <p>מורה בבי"הס לפסיכומטרי, מלמד עצמו מגיל 0 בעל 30 שנות ניסיון</p>
      </div>
      <div id = "mail_form">
        <%= render 'form' %>
      </div>
    </div>
  </div>
 <div class="footer">

 </div>
</div> 