<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Student Details:</h1>
    <div>Name: <%= @user.name %></div>
    <div>Email: <%= @user.email %></div>
    <div>Phone: <%= @user.phone %></div>
  </body>
</html>