<div class="page">

  <div class="body">

    <div class = "hero-unit">

      <div class="logo_image">
      </div>

      <div class="featured">
        <h2>עמרי עטר</h1>
        <h3>מורה למתמטיקה לכל הגילאים</h3>
        <p>מורה בביה"ס לפסיכומטרי, מלמד עצמו מגיל 0</br>בעל 30 שנות ניסיון.</p>
      </div>
      <div id = "mail_form">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="footer">

  </div>
</div>