<div class="page">
  <div class="header">
    <%= link_to image_tag("omry_logo.png", :id => "logo") %>
  </div>
  <div class="body">
    <div id="featured">
      <h3>עמרי עטר - מורה למתמטיקה מגיל 0</h3>
      <p>מורה בבי"הס לפסיכומטרי, מלמד עצמו מגיל 0 בעל 30 שנות ניסיון</p>
    </div>
<%= render 'form' %>
    

    <ul class="blog">
      <li>
        <div>
          <iframe width="150" height="113" src="http://www.youtube.com/embed/SaA_cs4WZHM"
           frameborder="0" allowfullscreen></iframe>
          <p>וידאו 1</p>
        </div>
      </li>
      <li>
        <div>
           <iframe width="150" height="113" src="http://www.youtube.com/embed/1orMXD_Ijbs" 
           frameborder="0" allowfullscreen></iframe>
          <p>וידאו 2</p>
        </div>
      </li>
      <li>
        <div>
            <iframe width="150" height="113" src="http://www.youtube.com/embed/gpl4PmPXyMk" 
            frameborder="0" allowfullscreen></iframe>
          <p>וידאו 3</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="services.html">Gallery</a></li>
    </ul>
    <p>&#169; Copyright &#169; 2011. Ron Segal all rights reserved</p>
  </div>
</div> 