<!DOCTYPE html>
<html DIR="RTL">
<head>
  <title>Omry Teacher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#contact">סיפורים</a></li>
            <li><a href="#about">שיעורים</a></li>
            <li><a href="#">אודות</a></li>           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
